**type casting**

- convert one data type to another data type is called type casting 
- which means we wants to convert
- integer type to all other(float,str,bool)data types
- float  type to all  other(int,str,bool)data type
- str type to all other (int,float,,bool) data type
- boolean type to allother (int,float,str)

In [1]:
num=100
type(num)

int

In [2]:
float_name=float(num)
type(float_name)

float

In [ ]:
str_num=100

In [3]:
bool(num)

True

In [4]:
float(200),str(200),bool(200)

(200.0, '200', True)

In [5]:
float(-200),str(-200),bool(-200)

(-200.0, '-200', True)

In [6]:
# bwhen integer of boolean conversion become false
bool(0)

In [ ]:
**NOTE**
- integer =0 then only boolean conversion becomes False
- otherwise for any possitive number or negative numberit becomes True

**Float to another data type**

In [9]:
int(200.5)
str(200.5)
bool(200.5)

True

In [ ]:
int

**string to another data type**

In [ ]:
#case-1

In [14]:
int('apple)
print(int)

SyntaxError: unterminated string literal (detected at line 1) (2019540539.py, line 1)

In [15]:
float('apple')

ValueError: could not convert string to float: 'apple'

In [16]:
bool('apple')

True

In [20]:
int('10')
float('10')
bool('10')

True

In [17]:
int("10")

10

In [18]:
float('10')

10.0

In [19]:
bool('10')

True

In [22]:
int('10.5')

ValueError: invalid literal for int() with base 10: '10.5'

In [24]:
float('10.5')

10.5

In [27]:
int('10')
int('10.5')
float('10')
float('10.5')

ValueError: invalid literal for int() with base 10: '10.5'

In [25]:
bool('10.5')

True

In [ ]:
- float is the boss
- float of any value either it is  
- or float in string formate will work
- but integer will work only for integer

In [28]:
bool('')

False

In [29]:
bool(0)

False

- empty string of boolean give false 
- false means no othing either 0 or empty string

**boolean to another type**

In [40]:
int(True)

TypeError: 'bool' object is not callable

In [41]:
print('python')

python

In [42]:
print(10,10.5,'NARESH It',True)

10 10.5 NARESH It True

In [52]:
n1=10
n2=10.5
n3='NARESH IT'
n4=True
print(n1,n2,n3,n4)

10 10.5 NARESH IT True

In [50]:
print(10,10.5)
n1=10,print(n1)

10 10.5
(10, None)

**FORMATE**

In [54]:
a=10
b=20
c=a+b
c
# the addition of 10 and 20 is 30
print("The additon of 10 and 20 is 30")

The additon of 10 and 20 is 30

In [59]:
a=100
b=200
a=a+b
print("the additon of {} and {} is {}".format(a,b,c))

the additon of 300 and 200 is 30

In [64]:
# read your name
# read your age 
# read your city
# my name is python ,in 10 years old in from hydarabad
name='python'
age=10
city='hyd'
print("my name is {} ,in {} years old and from{}".format(name,age,city))

my name is python ,in 10 years old and fromhyd

In [10]:
# employer  name
# employer role
# company
name='ravi'
roles='ds'
company='google'
print("my name is {},i wnat to become {} in {} company".formate(name,roles,company))

AttributeError: 'str' object has no attribute 'formate'

In [11]:
print(f"my name is {name},i wnat to become {roles} in {company} company")

my name is ravi,i wnat to become ds in google company

In [66]:
a=100
b=200
c=a+b
print(f"the additon of {a} and {b} is {c}")

the additon of 100 and 200 is 300

In [14]:
name='ravi'
roles='ds'
company='google'
print(F"my name is {name}, in i wnat become of {roles} in {company}company")

my name is ravi, in i wnat become of ds in googlecompany

In [41]:
num1=100
num2=200
average =(num1+num2)/2
# the average of 100 and 200is :140
print("the average the of {n1} and is:{n2}".formate(num1,num2,average))
print("the average the of {} and  is :{nume2}".formate(num1,num2,average))

AttributeError: 'str' object has no attribute 'formate'

In [ ]:
#take the radious of circle
#take the pi value =3.14
# find the area of circle=pi*radious 
print=pi balue
radious=10
area=pi_value

In [10]:
# take the breth of tryangle
# take the height of the triangle
# area of the tryangle=1/2^base*height
base=10
height=20
area=0.5*base*height
print(f"the area of triangle of triangle is :{area} ")

the area of triangle of triangle is :100.0

In [ ]:
# take the bill_amount 
# take the tip_percentage
# caluclate tip_amount
# caluclate the total bill
# print the total bill

In [32]:
bill_amount=1000
tip_percentage=10
tip_amount=1000*10/100
total_bill =bill_amount+tip_amount
print(f"the total bill is:{total_bill}")

the total bill is:1100.0

In [11]:
print(10)

In [18]:
print(10,20)

10 20

In [ ]:
end

In [22]:
print(10,end='   ')
print(20)

10   20

In [27]:
print(10,end=',')
print(20,end='&')
print(30)

10,20&30

In [ ]:
print(10,20,30

$sep$

- seperate the multiple values in a single print statement

In [33]:
# 10 & 20 & 30
print(10,20,30,sep='&')

10&20&30

In [36]:
print(10,20,30,sep='---->')

10---->20---->30

In [38]:
print(f"the addition of {5} and {3} is {5+3}.")

the addition of 5 and 3 is 8.

In [ ]:
print("the addition of {} and {}