**Loops**
- iterate a pieace of code untill the condition satisfy
- we can run a code normaly
- we can run code by using function wrapper(function)
- we can a code mutiple times(loops)
- we can run code by using conditon (condition)

In [1]:
a=10
b=20
c=a+b
print(c)

30

In [2]:
if True:
    a=10
    b=20
    c=a+b
    print(c)

30

def add():
    a=10
    b=20
    c=a+b
    print(c)
add()

In [8]:
salary=eval(input("enter the salary"))
tax_per=eval(input("enter the tax_per:"))
tax_amount=salary+tax_per/100
print(tax_amount)

KeyboardInterrupt: Interrupted by user

In [7]:
def tax():
    salary=eval(input("enter the salary"))
    tax_per=eval(input("enter the tax_per:"))
    tax_amount=salary+tax_per/100
    print(tax_amount)

In [ ]:
tax()

- for loop
- while loop
- any loop
    - intial point to start the loop
    - increment or decrement
    - condition to  stop the loop

**For loop**

$patteren-1$

**range(stop)**

In [ ]:
# syntax
for i in range(<value>):
    # start write your code

- when ever you see the word range it belongs to math family
- inside the we need to provide one value 
- if you provide only one value
    - start value=0
    - increment=+1
    - last=stop-1
- rangee(3)
    - start value=0
    - increment=1
    - last=3-1=2
    - answer are :0 1 2

**Note** 
- in python in the index always start with zero

In [12]:
for i in range(3):
    print(i)

0
1
2

In [2]:
print(0)
print(1)
print(2)
print(3)
print(4)

0
1
2
3
4

In [5]:
# i want to peint 5 times 
for i in range(5):
    print("hello")

hello
hello
hello
hello
hello

In [17]:
# for example 
# take a random number between 1 to 100
# print it is a evven number and add number
# you need to generate 3 random number
import random
num=random.randint(1,100)
if num%2==0:
    print(f"{num} is even")
else:
    print(f"{num} is odd")

import random
num=random.randint(1,100)
if num%2==0:
    print(f"{num} is even")
else:
    print(f"{num} is odd")

import random
num=random.randint(1,100)
if num%2==0:
    print(f"{num} is even")
else:
    print(f"{num} is odd")

86 is even
93 is odd
82 is even

In [17]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [23]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# step : will separate multiple values in same print satatment
# end : combine the multiple print statment

$pattern-2$
- range(10,20)
  - start value=10
  - increment=1
  - last=stop-1=20-19
  - ans 10 11 12 13 14 15 16 17 18 19

In [19]:
for i in range(10,20):
    print(i,end=" ")

10 11 12 13 14 15 16 17 18 19

In [24]:
# wap ask the user the square of the number between 20 to 25
for i in range(20,26):
    print(i*i)

400
441
484
529
576
625

In [29]:
# wap ask the user print the number is even or odd between 10 to 20
for i in range(10,20):
    if i%2==0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd

In [27]:
import random
for i in range(1001,1004):
    num=random.randint(1,100)
    if num%2==0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

1001 is even
1002 is even
1003 is even

$patteren-3$

**Range(start,stop,step)**
- start value
- step value
  - positive step value
    - if step value is positive: increment
    - last =stop_1
  - negativestep value
     - if step value is negative decrement
     - last=step+1

In [31]:
# case-1:
for i in range(2,20,2):
    print(i,end=' ')
   
# start=2
# step =+ve
# last=stop-1=20-1=19
# 2 4 6 8 10 12 14 16 18

2 4 6 8 10 12 14 16 18

In [32]:
# case-2:
for i in range(2,20,-2):    # range(start,stop,step)
    print(i,end=' ')
# start=2
# step=-2  negative 
# last=stop+1:    20+1=21

In [34]:
# case-3:
for i in range(20,2,-2):
    print(i,end=' ')

# start=20
# step=-negative direction
# last=stop+:

20 18 16 14 12 10 8 6 4

In [36]:
# case-4:
for i in range(-20,2,-2):
    print(i,end=' ')

# start=-20
# step=-2 neg
# last stop+1    =2+1

In [29]:
range(3,20,2) # P
range(3,20,-2) # NP
range(3,-20,2) # NP
range(3,-20,-2) # P
range(-3,20,2) # P
range(-3,-20,2) # NP
range(-3,20,-2) # NP
range(-3,-20,-2) # P
range(20,3,2) # NP
range(20,3,-2) # P
range(20,-3,-2) # P
range(-20,-3,-2) #NP

range(-20, -3, -2)

In [4]:
# 1q) for example
# take person number between 1 to 100
# print it is a even number and odd number 
# you need to generate 3 random numbers
import random
for i in range(3):
    num=random.randint(1,100)
if num%2==0:
    print(f"{num} is even")
else:
    print(f"{num} is odd")

66 is even

In [11]:
# 2q) wap ask the user print the number is even or odd between 10 to 20 
for i in range (10,20):
    if i%2==0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd

In [12]:
#3q) wap ask the user print the square of the number between 
# 20  to 25
for i in range (20,25):
    print(f"square of {i} is {i*i}")

square of 20 is 400
square of 21 is 441
square of 22 is 484
square of 23 is 529
square of 24 is 576

In [1]:
#4q) wap ask the user enter a number three times. find the square of the number
for i in range (3):
    num=eval(input("enter the number"))
    print(f"the square of {num} is {num*num}")

enter the number 3

the square of 3 is 9

enter the number 8

the square of 8 is 64

enter the number 20

the square of 20 is 400

In [6]:
#5q) print the 14 th table
# ans    14x1=14
#        14x2=28
#        14x3=42
#
#
#
#       14x10=140
num=eval(input("enter the  table which you want to see"))
for i in range(1,11):
        val=i*num
        print(f"{num} x {i}= {val}")

enter the  table which you want to see 14

14 x 1= 14
14 x 2= 28
14 x 3= 42
14 x 4= 56
14 x 5= 70
14 x 6= 84
14 x 7= 98
14 x 8= 112
14 x 9= 126
14 x 10= 140

In [17]:
# 6Q) find the factor of 75 
# step-1 : inereate the loop=which number factor you want
# step-2 : apply the if condition
#       condition=divide the number with each i
num=eval(input("enter the num"))
for i in range(1,num+1):
    if num%i==0:
        print(f"{i} is the divisior of {num}")

enter the num 75

1 is the divisior of 75
3 is the divisior of 75
5 is the divisior of 75
15 is the divisior of 75
25 is the divisior of 75
75 is the divisior of 75

In [14]:
#7q) write the sum of first 10 natural number
# 1 to 10
# 1+2+3+4+5+6+7+8+9+10=55
summ=0
for i in range(1,11):
    summ=summ+i
    print(f"{summ-i}+{i}={summ}")

0+1=1
1+2=3
3+3=6
6+4=10
10+5=15
15+6=21
21+7=28
28+8=36
36+9=45
45+10=55

**sumation wrapper**
- intially we need to keep summ=0
- make sure that do not provide **sum**
- because sum is key a key word
- inside for loop: summ=summ+i

In [44]:
# summ=0
# for loop

   #summ=summ+i
summ=0
for i  in range (1,10):
        summ=summ+i
        print(f"{summ-i}+{i}={summ}")
    
        sum=summ+i

0+1=1
1+2=3
3+3=6
6+4=10
10+5=15
15+6=21
21+7=28
28+8=36
36+9=45

In [45]:
summ=0
for i  in range (1,10):
        summ=summ+i
        print(summ)
        sum=summ+i

1
3
6
10
15
21
28
36
45

**Note**
- if we print answer from out of for loop,last answer will print

In [47]:
for i in range(3):
    print(i)

i

0
1
2

2

In [16]:
# 8q) average of first i to 10 number 
# avg =summation of all the number/total number
# wap to find the avg of 'n' number in python
summ=0
N=eval(input("enter the number:"))
for i in range (1,N+i):
         summ=summ+i
print(summ/N)

enter the number: 10

40.6

**counter wrapper**
- before for loop intilaise with counte=0
- under for loop count=count+1
- counter always incerse by 1 only

In [5]:
#9) find the number of divisor of 75
# ans :1,3,5,15,25,
count=0
num=eval(input("which number factor you want:"))
for i in range (1,num+1):
  if num%i==0:
    count=count+1
      
print(f"the divisor for {num} is count {count}")

which number factor you want: 75

the divisor for 75 is count 6

In [11]:
#10 q)
# get a random number between 1 to 10 : num1
# ask the user enter anumber :num2
# if num1==num2  then print won
# else print fail

# give 3 chance
import random
for i in range(3):
    num1=random.randint(1,10)
    print(num1)
    num2=eval(input("enter the number between 1 to 10"))
    if num1==num2:
        print("won")
    else:
        print("fail")

9

enter the number between 1 to 10 9

won
9

enter the number between 1 to 10 8

fail
10

enter the number between 1 to 10 9

fail

In [ ]:
# case-2:
import random
for i in range(3):
    num1=random.randint(1,10)
    print(num1)
    num2=eval(input("enter the number 1 to 10"))
if num==num2:
    print("won")
    break
else:
    print("fail")

8

enter the number 1 to 10 2

2

In [8]:
# cas-3
# suppose i want to give 4 chance 
# every time you fail I want to display 
# number of chance left 
# if all the chance you  are used 
#  try again after 24 hours
import random
for i in range(4):
    num1=random.randint(1,10)
    num2=eval(input("enter the number between 1 to 10"))
    if num1==num2:
        print("won")
        break 
    else:
        print("you lost")
        print(f"the number of chance : {3-i}")
    if i==3:
        print("try again after 24 hours")

enter the number between 1 to 10 5

won

In [18]:
# cas-3
# suppose i want to give 4 chance 
# every time you fail I want to display 
# number of chance left 
# if all the chance you  are used 
#  try again after 24 hours
import random
for i in range(4):
    num1=random.randint(1,10)
    num2=eval(input("enter the number between 1 to 10"))
    if num1==num2:
        print("won")
        break 
    else:
        print("you lost")
        print(f"the number of chance : {3-i}")
    if i==3:
        print("try again after 24 hours")

enter the number between 1 to 10 5

you lost
the number of chance : 3

enter the number between 1 to 10 5

won

In [ ]:
# wap ask the user get 5 random numbers
# get it is an even numbers or odd number 
# also count how many even numbers are there 
# and count how many odd numbers are there 

# idea 
# take two counters one even and count 
# for loop 5 times 
# each time take the random number
# if condition 
# true counter update 
# else 
# update the counter

In [3]:
# wap ask the user get 5 random numbers
# get it is an even numbers or odd number 
# also count how many even numbers are there 
# and count how many odd numbers are there 
import random
even_count=0
odd_count=0
for i in range(5):
    num=random.randint(1,10)
    if num%2==0:
        even_count=even_count+1
    else:
        odd_count=odd_count+1
print(f"the total number of even numbers are : {even_count}")
print(f"the total number of odd numbers are : {odd_count}")

the total number of even numbers are : 4
the total number of odd numbers are : 1

In [11]:
# idea 
# take two counters one even and count 
# for loop 5 times 
# each time take the random number
# if condition 
# true counter update 
# else 
# update the counter
import random
even_count=0
odd_count=0
even_summ=0
odd_summ=0

for i in range(5):
    num=random.randint(1,10)
    if num%2==0:
        even_count=even_count+1
        even_summ=even_summ+num
    else:
        odd_count=odd_count+1
        odd_summ=odd_summ+num
print(f"the total number of even numbers are : {even_count}")
print(f"the total number of odd numbers are : {odd_count}")
print(f"the total number of even numbers are : {even_summ}")
print(f"the total number of odd numbers are : {odd_summ}")

the total number of even numbers are : 1
the total number of odd numbers are : 4
the total number of even numbers are : 6
the total number of odd numbers are : 26

In [26]:
# create a function a above code 
# reurn all 4
# print all 4
import random
def even_odd1():
    even_count,odd_count=0,0
    even_summ,odd_summ=0,0
    for i in range(5):
       num=random.randint(1,10)
    if num%2==0:
            even_count=even_count+1
            even_summ=even_summ+num
    else:
        odd_count=odd_count+1
        odd_summ=odd_summ+num
    return(even_count,
           even_summ,
           odd_count,
           odd_summ)

In [27]:
even_count,even_summ,odd_count,odd_summ=even_odd1()    
print(f"the total number of even numbers are : {even_count}")
print(f"the total number of odd numbers are : {odd_count}")
print(f"the total number of even numbers are : {even_summ}")
print(f"the total number of odd numbers are : {odd_summ}")

the total number of even numbers are : 1
the total number of odd numbers are : 0
the total number of even numbers are : 2
the total number of odd numbers are : 0

**in operation**

In [30]:
string1='python'
'p' in string1
'y' in string1
't' in string1

i in string1

TypeError: 'in <string>' requires string as left operand, not int

In [25]:
for i in string1:
    print(i)

p
y
t
h
o
n

**Differnence between in operator and range operator**
- range belong to match family
- inside $range$ we need to keep numbers only
- whenever if we want inerate through a english letters
- we need to choose in opeator
- range means number
- in means string

In [28]:
'p'>'P'

True

- every english letter
- every special charcter how machine will understand
- machine language always considr as numbers
- every non numerica assign a number
- ASCII: amarican standard code for information interchange
- A : 65,a:97

**ord-chr**

In [ ]:
A===65====0b10000001

In [32]:
0b1000001

65

In [35]:
ord('A'),ord('a')

(65, 97)

In [37]:
ord('p'),ord('P')

(112, 80)

In [38]:
'p'>'P'  # 112>80

True

In [39]:
chr(112),chr(80),chr(65),chr(97)

('p', 'P', 'A', 'a')

In [40]:
# i want string1 :'python'
# print all ascii number for 'python'
for i in 'python':
    print(f"the ASCII number for {i} is {ord(i)}")

the ASCII number for p is 112
the ASCII number for y is 121
the ASCII number for t is 116
the ASCII number for h is 104
the ASCII number for o is 111
the ASCII number for n is 110

In [ ]:
ascci_summ=0
for i in 'python':
    ascii_sum=ascii_sum+ord(i)
    print(f"the summation is {ascii_sum}")

In [ ]:
# i want to know all ascii number from A to Z

In [ ]:
# package called : string
# import the package 
# apply the dir 
# there are same methods are there 
# in that one method will capital letter

# step-1:import<package_name>
# step-2:dir(<package_name>)
# step-3: identify the methods

In [31]:
for i in 'ABCDEFGHIJKLMNOPQRSTUVXYZ':
    print(f"the ascii number for {i} is {ord(i)}")

the ascii number for A is 65
the ascii number for B is 66
the ascii number for C is 67
the ascii number for D is 68
the ascii number for E is 69
the ascii number for F is 70
the ascii number for G is 71
the ascii number for H is 72
the ascii number for I is 73
the ascii number for J is 74
the ascii number for K is 75
the ascii number for L is 76
the ascii number for M is 77
the ascii number for N is 78
the ascii number for O is 79
the ascii number for P is 80
the ascii number for Q is 81
the ascii number for R is 82
the ascii number for S is 83
the ascii number for T is 84
the ascii number for U is 85
the ascii number for V is 86
the ascii number for X is 88
the ascii number for Y is 89
the ascii number for Z is 90

In [34]:
import string
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [36]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [40]:
string.acsii_uppercase
ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [41]:
import string
string1=string.ascii_uppercase
for i in string1:
    print(f"THE ACSII NUMBER FOR {i},{ord(i)}")

THE ACSII NUMBER FOR A,65
THE ACSII NUMBER FOR B,66
THE ACSII NUMBER FOR C,67
THE ACSII NUMBER FOR D,68
THE ACSII NUMBER FOR E,69
THE ACSII NUMBER FOR F,70
THE ACSII NUMBER FOR G,71
THE ACSII NUMBER FOR H,72
THE ACSII NUMBER FOR I,73
THE ACSII NUMBER FOR J,74
THE ACSII NUMBER FOR K,75
THE ACSII NUMBER FOR L,76
THE ACSII NUMBER FOR M,77
THE ACSII NUMBER FOR N,78
THE ACSII NUMBER FOR O,79
THE ACSII NUMBER FOR P,80
THE ACSII NUMBER FOR Q,81
THE ACSII NUMBER FOR R,82
THE ACSII NUMBER FOR S,83
THE ACSII NUMBER FOR T,84
THE ACSII NUMBER FOR U,85
THE ACSII NUMBER FOR V,86
THE ACSII NUMBER FOR W,87
THE ACSII NUMBER FOR X,88
THE ACSII NUMBER FOR Y,89
THE ACSII NUMBER FOR Z,90

In [42]:
import string 
letter=string.ascii_letters
for i in letter:
    print(f"the ascii number for {i} is  {ord(i)}")

the ascii number for a is  97
the ascii number for b is  98
the ascii number for c is  99
the ascii number for d is  100
the ascii number for e is  101
the ascii number for f is  102
the ascii number for g is  103
the ascii number for h is  104
the ascii number for i is  105
the ascii number for j is  106
the ascii number for k is  107
the ascii number for l is  108
the ascii number for m is  109
the ascii number for n is  110
the ascii number for o is  111
the ascii number for p is  112
the ascii number for q is  113
the ascii number for r is  114
the ascii number for s is  115
the ascii number for t is  116
the ascii number for u is  117
the ascii number for v is  118
the ascii number for w is  119
the ascii number for x is  120
the ascii number for y is  121
the ascii number for z is  122
the ascii number for A is  65
the ascii number for B is  66
the ascii number for C is  67
the ascii number for D is  68
the ascii number for E is  69
the ascii number for F is  70
the ascii number for G is  71
the ascii number for H is  72
the ascii number for I is  73
the ascii number for J is  74
the ascii number for K is  75
the ascii number for L is  76
the ascii number for M is  77
the ascii number for N is  78
the ascii number for O is  79
the ascii number for P is  80
the ascii number for Q is  81
the ascii number for R is  82
the ascii number for S is  83
the ascii number for T is  84
the ascii number for U is  85
the ascii number for V is  86
the ascii number for W is  87
the ascii number for X is  88
the ascii number for Y is  89
the ascii number for Z is  90

In [44]:
import random
letter=string.punctuation
for i in letter:
    print(f"the ASCII number for {i} is {ord(i)}")

the ASCII number for ! is 33
the ASCII number for " is 34
the ASCII number for # is 35
the ASCII number for $ is 36
the ASCII number for % is 37
the ASCII number for & is 38
the ASCII number for ' is 39
the ASCII number for ( is 40
the ASCII number for ) is 41
the ASCII number for * is 42
the ASCII number for + is 43
the ASCII number for , is 44
the ASCII number for - is 45
the ASCII number for . is 46
the ASCII number for / is 47
the ASCII number for : is 58
the ASCII number for ; is 59
the ASCII number for < is 60
the ASCII number for = is 61
the ASCII number for > is 62
the ASCII number for ? is 63
the ASCII number for @ is 64
the ASCII number for [ is 91
the ASCII number for \ is 92
the ASCII number for ] is 93
the ASCII number for ^ is 94
the ASCII number for _ is 95
the ASCII number for ` is 96
the ASCII number for { is 123
the ASCII number for | is 124
the ASCII number for } is 125
the ASCII number for ~ is 126

In [60]:
# A_Z     a-z
#A=== >  65
# Z=== > 90
# a===> 97
# Z===> 122
# !===> 33
# ~===> 126
for i in range (33,126):
    print(i,chr(i),end='===>')

33 !===>34 "===>35 #===>36 $===>37 %===>38 &===>39 '===>40 (===>41 )===>42 *===>43 +===>44 ,===>45 -===>46 .===>47 /===>48 0===>49 1===>50 2===>51 3===>52 4===>53 5===>54 6===>55 7===>56 8===>57 9===>58 :===>59 ;===>60 <===>61 ====>62 >===>63 ?===>64 @===>65 A===>66 B===>67 C===>68 D===>69 E===>70 F===>71 G===>72 H===>73 I===>74 J===>75 K===>76 L===>77 M===>78 N===>79 O===>80 P===>81 Q===>82 R===>83 S===>84 T===>85 U===>86 V===>87 W===>88 X===>89 Y===>90 Z===>91 [===>92 \===>93 ]===>94 ^===>95 _===>96 `===>97 a===>98 b===>99 c===>100 d===>101 e===>102 f===>103 g===>104 h===>105 i===>106 j===>107 k===>108 l===>109 m===>110 n===>111 o===>112 p===>113 q===>114 r===>115 s===>116 t===>117 u===>118 v===>119 w===>120 x===>121 y===>122 z===>123 {===>124 |===>125 }===>

In [1]:
for i in range (3078,3300):
    print(i,chr(i),end='=>')

3078 =>3079 =>3080 =>3081 =>3082 =>3083 =>3084 =>3085 =>3086 =>3087 =>3088 =>3089 =>3090 =>3091 =>3092 =>3093 =>3094 =>3095 =>3096 =>3097 =>3098 =>3099 =>3100 =>3101 =>3102 =>3103 =>3104 =>3105 =>3106 =>3107 =>3108 =>3109 =>3110 =>3111 =>3112 =>3113 =>3114 =>3115 =>3116 =>3117 =>3118 =>3119 =>3120 =>3121 =>3122 =>3123 =>3124 =>3125 =>3126 =>3127 =>3128 =>3129 =>3130 =>3131 =>3132 =>3133 =>3134 =>3135 =>3136 =>3137 =>3138 =>3139 =>3140 =>3141 =>3142 =>3143 =>3144 =>3145 =>3146 =>3147 =>3148 =>3149 =>3150 =>3151 =>3152 =>3153 =>3154 =>3155 =>3156 =>3157 =>3158 =>3159 =>3160 =>3161 =>3162 =>3163 =>3164 =>3165 =>3166 =>3167 =>3168 =>3169 =>3170 =>3171 =>3172 =>3173 =>3174 =>3175 =>3176 =>3177 =>3178 =>3179 =>3180 =>3181 =>3182 =>3183 =>3184 =>3185 =>3186 =>3187 =>3188 =>3189 =>3190 =>3191 =>3192 =>3193 =>3194 =>3195 =>3196 =>3197 =>3198 =>3199 =>3200 =>3201 =>3202 =>3203 =>3204 =>3205 =>3206 =>3207 =>3208 =>3209 =>3210 =>3211 =>3212 =>3213 =>3214 =>3215 =>3216 =>3217 =>3218 =>3219 =>3220 =>3221 =>3222 =>3223 =>3224 =>3225 =>3226 =>3227 =>3228 =>3229 =>3230 =>3231 =>3232 =>3233 =>3234 =>3235 =>3236 =>3237 =>3238 =>3239 =>3240 =>3241 =>3242 =>3243 =>3244 =>3245 =>3246 =>3247 =>3248 =>3249 =>3250 =>3251 =>3252 =>3253 =>3254 =>3255 =>3256 =>3257 =>3258 =>3259 =>3260 =>3261 =>3262 =>3263 =>3264 =>3265 =>3266 =>3267 =>3268 =>3269 =>3270 =>3271 =>3272 =>3273 =>3274 =>3275 =>3276 =>3277 =>3278 =>3279 =>3280 =>3281 =>3282 =>3283 =>3284 =>3285 =>3286 =>3287 =>3288 =>3289 =>3290 =>3291 =>3292 =>3293 =>3294 =>3295 =>3296 =>3297 =>3298 =>3299 =>