**Dictionary**

- we already seen many data types
- string
- List
- Tuple
- set
- Dictionary
- int float bool complex
- range
- bytes
- eval is not a data type

In [1]:
# By using lambda list reduce
str=b'hello'

In [ ]:
str=''
list=[]
tuple=()
set={}
dictionary={key:value}

**Zip**

In [10]:
name=['Ramesh','Suresh','Satish']
age=[20,25,30]
for i,j in zip(name,age):
    print(i,j)

Ramesh 20
Suresh 25
Satish 30

In [8]:
tuple(zip(name,age))

(('Ramesh', 20), ('Suresh', 25), ('Satish', 30))

In [11]:
list(zip(names,age))

[('Ramesh', 20), ('Suresh', 25), ('Satish', 30)]

In [13]:
# dict1={<key>:<value>}
#name=['Ramesh','Sureh','Satish']
#age=[20,25,30]
# 'Ramesh'is the key  ===== 20 its related value
dict1={'Ramesh':20,'Suresh':25,'Satish':30}

In [ ]:
dict1={<key>:<value>}
names=['Ramesh','Suresh','Satish']
age=[20,25,30]
'Ramesh' is the key ====20 its related value
dict1={'Ramesh':20,'Suresh':25,'Satish':30}

In [13]:
dict1={'Ramesh':20,'Suresh':25,'Satish':30}
type(dict1)

dict

**creat all type of dictionaries**

**intializaton**

In [15]:
dict1={'Ramesh':20,'Suresh':25,'Satish':30}
type(dict1)

dict

In [16]:
dict1={'Ramesh':'20','Suresh':'25','Satish':'30'}
type(dict1)

dict

In [ ]:
# If both list are of different length?
# if both list are different length 
# zip will not work

- intializaton
- type
- max
- min
- len
- reversed
- stored
- in
- index
- mutable
- concate
- slicing
- method

In [18]:
dict1={'Ramesh':20.1,'Suresh':25.2,'Satish':30.1}
dict1

{'Ramesh': 20.1, 'Suresh': 25.2, 'Satish': 30.1}

In [ ]:
**Creat all

In [ ]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
d2={'Manish':'25','Shubam':'20','Govindh':'15'}
d3={25:'Manish',20:'Shubam',15:'Govindh'}
d4={25:50}
d5={'Fruits',:['Apple','Cherry'])
d6={['Apple','Cherry']:,'Fruits'}
d7={('Apple','Cherry'):'Fruits'}
d8={'Ajay':25,'Ajay':30}
d9={25:'Ajay',30:'Ajay'}
d10={'Fruits':{'Mango':25}}

**keys are important**

- keys have only latest value

- No duplicate keys

- keys should be only one

- values can be duplicate

- wichh mean diffient keys can have same values

- List can not be a key,Because list are mutable

- tuple can be a key,because tuple are immutable

In [ ]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
d2={'Manish':'25','Shubam':'20','Govindh':'15'}
d3={25:'Manish',20:'Shubam',15:'Govindh'}

In [19]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
max(d1)

# opeartion apply on keys
# keys are important

'Shubam'

In [20]:
min(d1)

'Govindh'

**revered**

- you might have think dictionary  will reverse
- when you apply reversed,then you got to know
- only keys will come in reverse

In [46]:
list(reversed(d1))

['Govindh', 'Shubam', 'Manish']

In [48]:
tuple(reversed(d1))

('Govindh', 'Shubam', 'Manish')

In [49]:
list(sorted(d1,reverse=True))

['Shubam', 'Manish', 'Govindh']

In [50]:
for i in d1:
    print(i)

Manish
Shubam
Govindh

In [56]:
'Manish' in d1

True

In [40]:
d2={'Manish':'25','Shubam':'20','Govindh':'15'}
max(d2)

'Shubam'

In [39]:
d2={'Manish':'25','Shubam':'20','Govindh':'15'}
min(d2)

'Govindh'

In [38]:
d3={25:'Manish',20:'Shubam',15:'Govindh'}
min(d3)

15

In [37]:
max(d3)

25

In [35]:
d4={'Manish':25,'Shubam':'20','Govindh':15}
max(d4)

'Shubam'

In [36]:
min(d4)

'Govindh'

In [33]:
d5={25:'Manish','20':'Shubam',15:'Govindh'}
max(d5)

TypeError: '>' not supported between instances of 'str' and 'int'

In [34]:
min(d5)

TypeError: '<' not supported between instances of 'str' and 'int'

In [43]:
d6={'Manish':20,'Shubam':20,'Govindh':20}
max(d6)

'Shubam'

In [44]:
min(d6)

'Govindh'

**Index**

In [10]:
d1={'manish':25,'shubam':20,'Govindh':15}
# if you want retrive the values 
# python will never give 'Manish:25
d1[0]

KeyError: 0

In [6]:
d1['manish']

KeyError: 'manish'

In [8]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
# Dictionary is a  key:value pair
# we can not use index number directly 
# whenever you want to call a value,we will use key
d1['Manish']
d1['Shubam']
d1['Govindh']

d1[i]

15

In [3]:
for i in d1:
    print(f"{i} has age {d1[i]}")

Manish has age 25
Shubam has age 20
Govindh has age 15

In [9]:
names=['Vignesh','Mohit','Nagesh']
age=[20,25,30]
for i,j in zip(names,age):
    print(f"{i} has age {j}")

Vignesh has age 20
Mohit has age 25
Nagesh has age 30

In [12]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
keys,value=[],[]
for i in d1:
    keys.append(i)
    value.append(d1[i])
value

[25, 20, 15]

In [13]:
keys=[i for i in d1]
values=[d1[i] for i in d1]

**How to create a empty list**

In [14]:
l=[]
l.append(20)
l

[20]

**empty string**

In [15]:
s=''
s=s+'a'
s

'a'

In [16]:
d={}
d{<Key>]=<value>
key,value=[],[]

SyntaxError: closing parenthesis ']' does not match opening parenthesis '{' (2559811160.py, line 2)

In [17]:
d={}
d['Ravi']=21
d

{'Ravi': 21}

In [20]:
d={}
d['Vignesh']=20
d['Mohit']=25
d['Nagesh']=30
d

{'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}

In [26]:
names={'Vignesh','Mohit','Nagesh'}
age=[20,25,30]
NAMES={}
for i,j in zip(names,age):
    NAMES[i]=j
NAMES

{'Mohit': 20, 'Vignesh': 25, 'Nagesh': 30}

**string to list**

In [28]:
s=['helo','hai','how','are','you']
s

['helo', 'hai', 'how', 'are', 'you']

In [32]:
s='hello hai hai how how are you'
s.split()

['hello', 'hai', 'hai', 'how', 'how', 'are', 'you']

**Word freqency**

In [33]:
# i/p : s='hello hai hai how are you'
# o/p: {'hello':1,'hai':2,'how':2,'are':1,'you':2}
s='hello hai hai how how are you'
s.split()
d={}
for i in d:
    if i in not d:
        s[i]=1
    else:
        d[i]+=1
d

SyntaxError: invalid syntax (2945495803.py, line 7)

In [36]:
s='hello hai hai how how are you'
word_list=s.split()
word_list
dict1={}
for word in word_list:
    dict1[word]=s.count(word)
dict1

{'hello': 1, 'hai': 2, 'how': 2, 'are': 1, 'you': 1}

**Mutable-immutable**

- change the elements using index

- but the dictionary there is no index

- in dictionary we will change the value based on key only

- instead of using the index,change the values using key

- if it change it is mutable

- if it is not change it is immutable

In [39]:
d={'Vignesh':20,'Mohit':25,'Nagesh':30}
d['Nagesh']=22
d

{'Vignesh': 20, 'Mohit': 25, 'Nagesh': 22}

- list and dictionary are mutable

- tuple and string are immutable

- Difference between list and tuple

In [41]:
d={'Fruits':['Mango']}
d['Friuts'][0]

KeyError: 'Friuts'

In [43]:
d={'Fruits':[{'Apple':['Kashmir']}]}
d

{'Fruits': [{'Apple': ['Kashmir']}]}

In [51]:
d['Fruits'][0]['Apple'][0]
d

TypeError: tuple indices must be integers or slices, not str

In [58]:
	
d={'Fruites':[
    {'Apple':
     {'Kashmir':
      ['India']
     }
    }
     ]
  }
d

{'Fruites': [{'Apple': {'Kashmir': ['India']}}]}

In [60]:
d['Fruites'][0]['Apple']['Kashmir'][0]

'India'

In [57]:
d={'Fruites':{'Benganapalli':{'Mango':{'Nagpur':{'MH':{'Shivaji':{'Shambaji'}}}}}}}
d

{'Fruites': {'Benganapalli': {'Mango': {'Nagpur': {'MH': {'Shivaji': {'Shambaji'}}}}}}}

In [62]:
d{['Fruites']['Benganapalli']['Mango']['Nagpur']['MH']['Shivaji']}
d

SyntaxError: invalid syntax (1795394056.py, line 1)

In [8]:
string1="""Data science is an interdisciplinary academic field that uses statistics,
          scientific computing, scientific methods, processes, scientific visualization,
          algorithms and systems to extract or extrapolate knowledge and insights from potentially noisy, structured, or unstructured data.
         Data science also integrates domain knowledge from the underlying applicatin.Data science is multifaceted and can be described as a science,
         a research paradigm, a research method, a discipline, a workflow, and a profession."""

#task -1: in the above sentence you need to remove a,an,is,the
# task-2: Data first letter Ascii value: 68
#         scince first letter Ascii value : 115

str2=string1.split()
words_to_remove=['a','an','is','the']
for i in str2:
    if i.lower()not in words_to_remove:
        li.append(i)
str3=' '.join(li)
str4=str3.split()
for i in range(len(str4)):
    asciii=ord(str4[i][0])
    d[str4[i]]=asciii
print(d)

NameError: name 'li' is not defined

**Dictionary Method**

In [1]:
dir('')  # string method 
dir([])  # List method
dir(())  # Tuple method
dir({})  # set method

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
string
list
tuple
dictionary all there class objects

In [2]:
print(type([]))

<class 'list'>

**item-Keys-values**

In [4]:
d={'vignesh':20,'Mohit':25,'Nagesh':30}
d

{'vignesh': 20, 'Mohit': 25, 'Nagesh': 30}

In [ ]:
# <package name>,<method name>

In [6]:
d.items()

dict_items([('vignesh', 20), ('Mohit', 25), ('Nagesh', 30)])

In [7]:
d.keys()

dict_keys(['vignesh', 'Mohit', 'Nagesh'])

In [9]:
d.values()

dict_values([20, 25, 30])

In [14]:
# we learn how to make a list from dictionary
d={'vignesh':20,'Mohit':25,'Nagesh':30}
keys,values=[],[]
for i in d:
    print(i,d[i])
    keys.append(d[i])
    values.append(d[i])

vignesh 20
Mohit 25
Nagesh 30

In [ ]:
list(d.keys()),list(d.values

- Dctionary keys list will give dictionary keys items in a list

- it look like a list,but it is not a list

- Which means we can not apply list mehods

- so we need to convert into list type,by using list type casting

In [16]:
list[d.keys()]

list[dict_keys(['vignesh', 'Mohit', 'Nagesh'])]

In [20]:
list(d.keys())[0]

'vignesh'

In [23]:
dir(d.keys())

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'isdisjoint',
 'mapping']

In [25]:
list[d.keys()]

list[dict_keys(['vignesh', 'Mohit', 'Nagesh'])]

In [27]:
type(list[d.keys())

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (3905398653.py, line 1)

In [30]:
for i in list[d.keys()])

SyntaxError: unmatched ')' (3290049095.py, line 1)

**Method-1**

In [32]:
d={'vignesh':20,'mohit':25,'Nagesh':30}

In [33]:
d.items()

dict_items([('vignesh', 20), ('mohit', 25), ('Nagesh', 30)])

In [38]:
keys,values=[],[]
for i,j in d.items():
    print(i,j)
    keys.append(i)
    values.append(j)
keys,values

vignesh 20
mohit 25
Nagesh 30

(['vignesh', 'mohit', 'Nagesh'], [20, 25, 30])

In [ ]:
a=10,20
a,b=10,20
a,b=10

**Mehod-3**

In [ ]:
path='