**Lamada function**

- Lamda function represnts function concept
  
- But can write in a single line

- like list comprehension,lamda function similar only

- it will decrease the time complexity

- always remember if we use many for loops or may condition using multiple line ,
  the time comlexity will increse

In [ ]:
**It will use a keyword lamada**
# Lamda <arguments>: <expression>

In [ ]:
what is the interview process for a data science position with 3 years of experiment

1) coning+sql
2)based on ML DL
3) Techn 2,3

bond: 1.5 bouns

ds2=== 2 2ppl
ds3====

do you know

In [ ]:
string 
list
tuple set
dictionary
landa 
file handling 

oops: kwargs

sir do we have right break bond with company

In [1]:
def summ(n):
    return(n+10)
summ(10)

20

$pattern-1$

**Function with only one argument**

1. function name
2. argument name
3. return output

In [ ]:
# syntax: <function name>=lamda <argument name>: <return output>
def summ(n):
    return(n+10)
summ(10)

# function name= summ
# argument name= n
# retuen output=n+10

In [2]:
summ= lambda n:n+10
summ(100)

110

In [6]:
def cube(n):
    return(n**3)
cube(10)

1000

In [8]:
cube= lambda n:n**3
cube(10)

1000

**pattern-2**

**Two arugument**

In [12]:
#syntax : <function name>= Lambda <arg1>,<arg2>:<return output>
def add(a,b):
    return(a+b)
    
add(50,50)
# Function name : add 
# arg1=a
# arg2=b
# return=a+b

100

In [13]:
add= lambda n1,n2: n1+n2
add(60,50)

110

In [14]:
average= lambda a,b,c:round((a+b+c)/3,2)
average(10,202,30)

80.67

**pattern-3**

**Default arguments**

In [16]:
average=lambda a,b,c=500:round((a+b+c)/3,2)
average(10,202)

237.33

**pattern-4**

**if-else**

In [22]:
def max(a,b):
    if a>b:
        return(a)
    else:
        return(b)
max(10,20)

10

In [23]:
# syntax:function name= lambda <arg1>,<arg2>: <list comprhension>
# syntax:function name=lambda <arg1>,<arg2>: <if_out><if_con><else><else_out>
max=lambda a,b: a if a>b else b
max(30,20)

30

**patern-5**

**using List**

In [24]:
l=['hyd','chennai','mumbai']
# op=['Hyd','Chennai',Mumbai']
op=[]
for i in l:
    op.append(i.capitalize())
op

['Hyd', 'Chennai', 'Mumbai']

In [ ]:
lambda <variable>:<op>
# variable:i
# op : i.capitalize()
lambda <variable>:<op>,<iterator>
# Qn : from where are getting 'i'-
# <iterator> : list

**map**

- the function and iterator are variable now
- we need to map both

In [30]:
l=['hyd','chennai','mumbai']
lambda i: i.captalize(),l

(<function __main__.<lambda>(i)>, ['hyd', 'chennai', 'mumbai'])

In [31]:
l=['hyd','chennai','mumbai']
map(lambda i: i.captalize(),l)

In [35]:
# apply the list to see the values
l=['hyd','chennai','mumbai']
list(map(lambda i:i.capitalize(),l))

['Hyd', 'Chennai', 'Mumbai']

In [36]:
l=['hyd','chennai','mumbai']
tuple(map(lambda i: i.capitalize(),l))

('Hyd', 'Chennai', 'Mumbai')

In [ ]:
# step1: Write your normal expression
# ex: lambda <var>: <op>===>lambda i: i.capitalize()
# step2: add the iterator
# ex: lambda <var>: <op>,<list>===>lambda i: i.capitalize(),list1
# Step-3: Map the both
# ex: map(lambda <var>: <op>,<list>)===>map(lambda i: i.capitalize(),list
# Step-4: save the values in a list,
# ex: list(map(lambda <var>: <op>,<list>))===>list(map(lambda i: i.capital
#Note: Those who are getting list object not callable use tuple

- case-1: Function call with one argument
  - lambda argument: Exerssion
  - lambda variables: return output
    
- case-2: Function call with two arguments
  - lambda argument: Exerssion
  - lambda variables: return output
    
- case-3: Function call with Default aruguments
   - lambda arg1,arg2=500: Exprssion
   - lambda var1,var2=500: returnn output
     
- case-4: FUnction call with two arguments and if else statment
  - lambda ar1,arg2=500:  Expression
  - lambda var1,var2=500: if_output if_con else els_op for
 
     
  
- case-5: Lambda operations using list
  - lambda arg: Exprssion,itearior
  - map(lambda var: opearion,list)
  - list(map(lambda var : operation,list))

In [1]:
l=['hyd','chennai','mumbai']
# op=['HYD','CHENNAI','MUMBAI']
#for i in l:
     # print(i.upper())
tuple(map(lambda i:i.upper(),l))

('HYD', 'CHENNAI', 'MUMBAI')

In [6]:
l=['hyd','che#nnai','mum#bai','blr']
# op=['CHE#NNAI','MUM#BAI']

# for # in l:
#     if '#' in i :
#         print(i)


# mistake-1: tuple (map(lambda i:if '#' in ,l))
# do not write if

In [7]:
tuple(map(lambda i:'#' in i,l))

(False, True, True, False)

In [10]:
tuple(filter(lambda i:'#' in i,l))

('che#nnai', 'mum#bai')

In [19]:
# numbers=[1,3,2,7,6]
# op=[2,6]
numbers=[1,3,2,7,6]
list(filter(lambda i: i%2==0,l))

TypeError: not all arguments converted during string formatting

In [20]:
l1=[1,2,3,4,5]

# i want sum of the elements in a list

# method-1: sum
sum(l1)

# method-2: with out sum
summ=0
for i in l1:
    summ=summ+i
print(summ)

15

In [33]:
l1=[1,2,3,4,5]
lambda sum,i:i,sum+i,l1

(<function __main__.<lambda>(sum, i)>, 10, [1, 2, 3, 4, 5])

In [ ]:
l1=[1,2,3,4,5]
max(l1)
min(l1)
len(l1)
sum(l1)

**Reduce**

- All the inbutlit function can achive by reduced
- Reduced is avilable from function  package
- level-1: reduced(lambda summ,i:summ+i,l1)
- level-2: reduced(lambda summ,i:summ+i,l1

In [39]:
import functools

In [41]:
dir(functools)

['GenericAlias',
 'RLock',
 'WRAPPER_ASSIGNMENTS',
 'WRAPPER_UPDATES',
 '_CacheInfo',
 '_HashedSeq',
 '_NOT_FOUND',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_c3_merge',
 '_c3_mro',
 '_compose_mro',
 '_convert',
 '_find_impl',
 '_ge_from_gt',
 '_ge_from_le',
 '_ge_from_lt',
 '_gt_from_ge',
 '_gt_from_le',
 '_gt_from_lt',
 '_initial_missing',
 '_le_from_ge',
 '_le_from_gt',
 '_le_from_lt',
 '_lru_cache_wrapper',
 '_lt_from_ge',
 '_lt_from_gt',
 '_lt_from_le',
 '_make_key',
 '_unwrap_partial',
 'cache',
 'cached_property',
 'cmp_to_key',
 'get_cache_token',
 'lru_cache',
 'namedtuple',
 'partial',
 'partialmethod',
 'recursive_repr',
 'reduce',
 'singledispatch',
 'singledispatchmethod',
 'total_ordering',
 'update_wrapper',
 'wraps']

In [46]:
# import functools
# functools.reduce

from functools import reduce
l1=[1,2,3,4,5]
reduce(lambda summ,i:summ+i,l1)

15

In [48]:
import functools
l1=[1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,l1)

15

In [51]:
import functools as ft 
l1=[1,2,3,4,5]
ft.reduce(lambda summ,i:summ+i,l1)

15

In [54]:
# level-2
import functools as ft 
l1=[1,2,3,4,5]
ft.reduce(lambda summ,i:summ+i,l1,2)

17

In [56]:
import functools
l1=[1,2,3,4,5]
functools.reduce(lambda mul,i:mul*i,l1)

120

In [ ]:
import functools
l1=[1,2,3,4,5]
# 1*2*3*4*5: functools.reduced(lambda x,y:x*y,l1)
# 1+2+3+4+5: functools.reduced(lambda x,y:x+y,l1)
functools.reduce(lambda mul,i:mul*i,l1)

In [58]:
import numpy
numpy.mean([1,2,3,4,5])

3.0

In [60]:
import functools

In [61]:
functools

In [ ]:
# maximum value using reduce


# map
# filter
# Reduce

# I want deatailedword document with examples