- we can store the output values by using append operations
- we are taking list
- we are iterating through elements from a given list
- the result we are appending in a new list

In [2]:
square_list=[]
for i in range(10):
    square_list.append(i*i)
square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- there are almost 3 lines are in the process
- the three lines we can make into a singe line
- the is called as LIST COMPREHNSION

$pattern-1$

**only for loop**

In [ ]:
# syntax
# [<output>  <for loop>]

In [1]:
square_list=[]
for i in range(10):
    square_list.append(i*i)
square_list

# Q1)What is the output ? i*i
# Q2)what is the putput list name? for i in range(10)
# Q) What is the for loop ? for i in range(10)
# [<output>  <for loop>]
square_list=[i*i for i in range(10)]

In [ ]:
# q2) l1=['hyd','mumbai','chennai','blr']
# upper_list=['Hyd','Mumbai','Chennai','Blr']


# q3) L2=['Hyd','mumbai','Chennai','Blr']
# lower_list=['hyd',mumbai,'chennai',blr']

In [8]:
# q2) l1=['hyd','mumbai','chennai','blr']
# upper_list=['Hyd','Mumbai','Chennai','Blr']
l1=['hyd','mumbai','chennai','blr']
upper_list=[]
for i in l1:
    upper_list.append(i.upper())
upper_list

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [13]:
# q3) L2=['Hyd','mumbai','Chennai','Blr']
# lower_list=['hyd',mumbai,'chennai',blr']
L2=['Hyd','mumbai','Chennai','Blr']
lower_list=[]
for i in l1:
    lower_list.append(i.lower())
lower_list

['hyd', 'mumbai', 'chennai', 'blr']

In [19]:
# Q1) What is the output?i.upper()
# Q2) What is the output list name? upper_list
# Q3) What is the for loop ? for i in l1
# [<output>  <for loop>]
l1=['hyd','mumbai','chennai','blr']
upper_list=[i.upper() for i in l1]
upper_list

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [22]:
# q3) L2=['Hyd','mumbai','Chennai','Blr']
# lower_list=['hyd',mumbai,'chennai',blr']
L2=['Hyd','mumbai','Chennai','Blr']
lower_list=[i.lower() for i in l1]
lower_list

['hyd', 'mumbai', 'chennai', 'blr']

In [26]:
# Q4) L2=['Hyd','mumbai','Chennai','Blr']
# sum of three index of all elemennts
l2=['Hyd','mumbai','Chennai','Blr']
for i in l2:
    print(l2.index(i))

0
1
2
3

In [27]:
L2=['Hyd','mumbai','Chennai','Blr']
idx_list=[l2.index(i) for i in l2]
sum(idx_list)

6

In [ ]:
1 l1 l1=['Hyd','mumbai','Chennai','Blr']
  2 sum_list=[i for i in range(len(l1))]
  3 sum(sum_list)
  4 sum_list
typeError: 'list' object is not callable

- making empty list will not works in list comprehension
- intialization will not works List Comprehenshion
- assignment operation also not working

In [34]:
# Fail
l2=['Hyd','mumbai','Chennai','Blr']
for i in l2:
    val=l2.index(i)
    print(val)
    
idx_list=[val==l2.index(i) for i in l2]

0
1
2
3

$pattern-2$

**for loop-if condition**

In [ ]:
# syntax
#[<output>  <for loop> <if condition>]

In [39]:
# Q5)L2=['Hyd','mumbai','Chennai','Blr']
#ans = ['Mumbai','Channai']
# we want lements which are len of element >4
L1=['Hyd','Mumbai','Chennai','blr']
for i in L1:
    if len(i)>4:
        print(i)

Mumbai
Chennai

In [1]:
# Q1) What is the output :1
# Q2) What is the if condition : if len(i)>4
# Q3) what is the for loop : for i in l1
#[<output> <for loop>  <if condition>]
l1=['Hyd','Mumbai','Chennai','blr']
op=[i for i in l1 if len(i)>4]
op

['Mumbai', 'Chennai']

In [ ]:
# Q3)l1=['Hyd','Mum#bai','Chen#nai','blr']
# ans=['Mum#bai'',Chen#nai']
# we want lements which are having '#'

# Q5)l1=['Hyd','Mumbai','chennai','blr']
# ans= ['Hyd','Mumbai']
# we want lements which are having first letter capital

# Q6)l1=['Hyd','Mum#bai','Chen#nai','blr']
# ans_#=['Mum#bai'',Chen#nai'] for loop and if cond
# ans_without_#=['Hyd'','blr']
# we want lements which are having '#' for loop if cond

# Q9) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
# Firstname=[] second name=[] cname =[]
# append first name should be in first name list
#       second name shoul be in second name list
#       thirs name will be in thirs name list

In [2]:
# Q6)l1=['Hyd','Mum#bai','Chen#nai','blr']
# ans_#=['Mum#bai'',Chen#nai'] for loop and if cond
# ans_without_#=['Hyd'','blr']
# we want lements which are having '#' for loop if cond
l1=['Hyd','Mum#bai','Chen#nai','blr']
op=[]
for i in l1:
    if '#' in i:
        op.append(i)
op

['Mum#bai', 'Chen#nai']

In [6]:
op_ash=[i for i in l1 if '#' in i]
op_ash

['Mum#bai', 'Chen#nai']

In [5]:
op_not_in_ash=[i for i in l1 if '#' not in i]
op_not_in_ash

['Hyd', 'blr']

In [7]:
l1=['Hyd','Mum#bai','Chen#nai','blr']
op_title=[i for i in l1 if i.istitle()]
op_title

['Hyd']

In [9]:
# Q9) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
# Firstname=[] second name=[] cname =[]
# append first name should be in first name list
#       second name shoul be in second name list
#       thirs name will be in thirs name list

# first name
str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
list1=str1.split(',')
list1[0][:list1[0].index('.')]  # virat
list1[1][:list1[1].index('.')]  # Rohit
list1[2][:list1[2].index('.')]  # KL
#list[i][:<first_dot_index>]
#list[i][:list[i].index('.')

f_name=[]
for i in list1:
    f_name.append(i[:i.index('.')])
[i[:i.index('.')] for i in list1]

['virat', ' Rohit', ' KL']

In [10]:
list1[0],list1[1],list1[2]

('virat.kohli@rcb.com', ' Rohit.sharma@mi.co', ' KL.Rahul@lucknow.com')

In [12]:
list1[0].index('.')

5

In [13]:
str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
list1=str1.split(',')
list1[0].index('.')
list1[2][:list1[2].index('.')]

' KL'

In [14]:
for i in range(len(list1)):
    print(list1[i][:list1[i].index('.')])

virat
 Rohit
 KL

In [15]:
for i in list1:
    print(i[:i.index('.')])

virat
 Rohit
 KL

$pattern-3$

**if-else**

In [ ]:
[<output> <forloop>] : for loop
[<output> <forloop> <if condition>]: for-if
[<if_output>  <if> <else> <else_output> <for>] : if-else

**even-odd**

In [23]:
even_list,odd_list=[],[]
for i in range(1,20):
    if i%2==0:
        even_list.append(f"even:{i}")
    else:
        odd_list.append(f"odd:{i}")

In [24]:
even_list,odd_list

(['even:2',
  'even:4',
  'even:6',
  'even:8',
  'even:10',
  'even:12',
  'even:14',
  'even:16',
  'even:18'],
 ['odd:1',
  'odd:3',
  'odd:5',
  'odd:7',
  'odd:9',
  'odd:11',
  'odd:13',
  'odd:15',
  'odd:17',
  'odd:19'])

In [29]:
op_list=[]
for i in range(1,20):
    if i%2==0:
        op_list.append(f"even:{i}")
    else:
        op_list.append(f"odd:{i}")
op_list
#[<if_op> <if_con> <else> <else>  <else_op>  <for_loop>]
[f"even:{i}" if i%2==0 else f"odd:{i}" for i in range(1,20)]

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9',
 'even:10',
 'odd:11',
 'even:12',
 'odd:13',
 'even:14',
 'odd:15',
 'even:16',
 'odd:17',
 'even:18',
 'odd:19']