################## pyhon divided 3 parts #########################

------Basics
1) variable
2) data types
3) type conversion
4) eval input
5) packages
6) conditional statement
7) Try-execpt
8) function
9) for
10) while

-------------Intermediate part


12) strings
13) Lists
14) Dicionary
15) tuple do this
16) sets
17) Lamda functions
18) file handling
    
-------------Advanceed

20) oops

############################## part-1##########################
- Intialization
- type
- len
- max
- min
- stored
- resversed
- in
- for loop
- index
- for loop using index
- mutable
- concantenation
############################### part-2 #######################
# method

**Intialization**

In [3]:
str1='pthyhon'
str1

'pthyhon'

In [6]:
str2="python"
str2

'python'

**Note**

- if we mentioned single code quotes or double quotes by default python provides in single quotes only
- if we print the strings, we will answer with out quotes

**Triple quotes**

In [7]:
str3="""hi how are you
        im good"""

In [8]:
str3

'hi how are you\n        im good'

In [9]:
print(str3)

hi how are you
        im good

**Note**

- if we mentioned single quotes or double quotes by default python provides in single quotes only
- if we print the string we will answer with out quotes
- triple quets are using for doc string 
- in order to convey the information about coading part will use doc string
- anything inside the singe or double quotes is considered as string in python

**type**

In [ ]:
  type(str1)  # type is string time

In [11]:
str

str

In [ ]:
str4='10'  # integer value in the form of string 
str5='10.5' # float value in the form of string 
str6='123abc' # alpha numeric in the form of string 
str7='True' # boolean in the form of string
str8='sinx'

# All are in quotes,mean in red colour : string

**len**

In [8]:
str1='python'
len(str1)

6

In [12]:
str2="python"
len(str2)

6

**Max and Min**

In [13]:
str1="python"
min(str1)

'h'

In [14]:
str1="python"
max(str1)

'y'

In [12]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n'),

(112, 121, 116, 104, 111, 110)

**Keywords vs method**

In [ ]:
type (<>)
print (<>)
len (<>)
max (<>)
min (<>)
eval (<>)
input (<>)
sum(<>)

In [ ]:
- in order to use method we need to call package 

import random
random.randint()

import math
math.squrt()

import  time
time.sleep()

In [15]:
str1=('python')
sum(str1)

TypeError: 'str' object is not callable

In [17]:
'p'+'y'+'t'+'h'+'o'+'n'

'python'

**sorted**

In [18]:
len('python')
max('python')
print('python')
min('python')
max('python')

python

'y'

In [25]:
sorted('python')

['h', 'n', 'o', 'p', 't', 'y']

In [24]:
sorted(str1,reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

- stored gives ascending order based on ascii on ascii numbers
- stored is kind of a function 
- every function wehave arguments
- in that one default argument is **reverse=False** 
- by default stored output gives **ascending order**
- we can change the order,by providing **reverse=True**
- **if we do not mention, it wiil give the defalut answer**

In [25]:
sorted('python',reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [26]:
complex()

0j

In [27]:
complex(10,20)

(10+20j)

In [28]:
complex(real=10,imag=30)

(10+30j)

In [26]:
import random
random.randint()

TypeError: Random.randint() missing 2 required positional arguments: 'a' and 'b'

In [ ]:
function()             #ANSWER
function(a,b)         # this migt return error, if we dont give the 
function(a=10,b=10)   # ans

In [29]:
import random
random.random()  # we will get answer but answer is not in our

0.5362006591044095

In [31]:
import random
random.randint(10,20) # answer we can change

13

In [32]:
complex(10,20)

(10+20j)

In [33]:
sorted(iterable='python')   # Error
random.randint(a=10,b=20)  # answer

TypeError: sorted expected 1 argument, got 0

In [34]:
sorted('python')
sorted('python',reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

**Note**

- we have aruguments  before / and after slash
- we can use the arugument anme after/only
- for example sorted has two arguments one is iterable and another one is reversed
- itertable is mntioned before/symbol
- reverse is mentioned after/symbol
- so we can use only reverse argument name while we are doing the work 
- we can not using iterable argument name
- instead of using iterable name,we can provide direct value at that position

**Resversed**

In [ ]:
type()
len()
max()
min()
print()
stored()

In [38]:
reversed('python')

- i already done my work
- your out put is stored in that memory locatin
- whenevr you see this kind of answer less than and greater than symbol or memory
- use for loop to see the answer

In [39]:
str1='python'
output=reversed(str1)
for i in output:
    print(i)

n
o
h
t
y
p

In [40]:
str1='azycd'
output=reversed(str1)
for i in output:
    print(i)

d
c
y
z
a

In [35]:
sorted('azycd')

['a', 'c', 'd', 'y', 'z']

In [ ]:
type()
inut()
evel()
max(<value>)

In [8]:
# sorted()
# it will provide the values either ascending or descending

sorted('naresh') # ascending or descending 

# when i run directly it give one answer
# the function has a default behaviour:ascending

#how this default mentioned 
# we need to understand about arguments

['a', 'e', 'h', 'n', 'r', 's']

In [2]:
sorted('naresh',reverse=True)

# itertable 
# key 
# reverse

['s', 'r', 'n', 'h', 'e', 'a']

In [4]:
for i in reversed('naresh'):
    print(i)

h
s
e
r
a
n

In [11]:
sorted([1,10,2,20,30])
#1,2,10,20,30
# 30,20,10,2,1

[1, 2, 10, 20, 30]

In [6]:
sorted([1,20,2,20,30],reverse=True)

[30, 20, 20, 2, 1]

In [12]:
str1='naresh'
'n' in str1

True

In [23]:
str1='naresh'
'nn' not in str1

True

In [ ]:
# string
# list 
# tuple
# setes
# dictionary

In [24]:
for i in str1:
    print(i)

n
a
r
e
s
h

**Note**

- in operator dirctly access the letters

In [24]:
#q1) wap ask the user count how many 'a' are present in a given string 
# str1='hai' naresh how are you


# idea: count wapper
# step-1: count=0
# step-2: using for loop in operator itereate through given string 
# step-3 apply the if condition ,whenever the letter equal to 'a'
# step-4:count=count+1


str1= 'hai naresh it how are you'
count=0
for i in str1:
    if i=='a':
        count=count+1
print(count)

# step-1: i='h'    if  'h'=='a'     false
# step-2: i='a'    if  'a'=='a'     true      count=0+1=1
# step-3: i='i'    if   'i'=='a'    false      count=1

# step-6: i='a'    if    'a'=='a'    true      count=1+1=2

3

In [31]:
# wap ask the user find the how many vowels are there in a given
# str=1 ='hai naresh how are you'
# ans=9

count=0
str1='hai naresh how are you'
str2='aeiou'
for i in str1:
    if i=='a' or i=='e'  or  i=='i'  or  i=='o' or i=='u':
        count=count+1
print('the count is : ',count)

the count is :  9

In [43]:
count=0
str1='hai naresh it how ar you'
for i in str1:
    if i in 'aeiou':
        count=count+1
       
print(count)
# step-1: i='h'  if='h' in 'aeiou   F

9

In [1]:
#q3) home work 
# str1='hai naresh how are you'
# repeated values are there 
# we dont want repeated vowels 
#cant the vowel avoid the represenation: unique vowels

# ste-1: coun=0
# step-2:  take one more empty string: ex=s2=' '
# step-3: using for loop in operator iterate through given string 
# step-4: condtion-1: that letter should not avialble in s2
# step-5: condition-2 : vowel check the condition
# step-6:      count=coun+1
# step-7:    update the s2=  s2=s2+<letter>

str1='hai naresh how are you'
count=0
str2=''
for i in str1:
    if i in 'aeiou':
        if i not in str2:
            count=count+1
        str2=str2+(i)
print(f"{count} vowels are not repeated")

5 vowels are not repeated

**How to update the empty string**

In [45]:
s1='python'
s2=''

for i in s1:
    s2=s2+i    # concataention 
s2

'python'

**Concatenation**

In [48]:
s1='Hello '
s2='bye'
s1+s2

'Hello bye'

In [49]:
s1='Hello '
s2=''
s3='bye'
s1+s2+s3

'Hello bye'

In [50]:
s1='Hello '
s2=''
s3='bye'
s4=s1+s2+s3
s4

'Hello bye'

In [51]:
s1='hello'
s2='bye'
s1*s2
s1/s2
s1-s2
# s1*s2 can't multiply sequence by non-int of type 'str'
# s1-s2 unsupported operand type(s) for -: 'str' and 'str'
# s1/s2: unsupported operand type(s) for /: 'str' and 'str'

TypeError: can't multiply sequence by non-int of type 'str'

In [53]:
s1-s2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [54]:
str1/str2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [56]:
s1='hello '
s2=2
s1*s2

'hello hello '

In [ ]:
s1+s2===>s1*2
2*3  3*2

**Index**

- index meaning  a number attched to a letter
- in python index start with zero
- we have two direction
  - positive direction
      - positive number start with zero
  - negative dirction
     - negative number start with-1,applicable to last letter

In [ ]:
s1='python'

-6 -5 -4 -3 -2 -1====>negative 
p  y  t  h  o  n
0  1  2  3  4  5 ====>positive

In [62]:
s1='python'
s1[0],s1[1],s1[2],s1[3],s1[4],s1[5]

('p', 'y', 't', 'h', 'o', 'n')

In [63]:
s1='python'
s1[-6],s1[-5],s1[-4],s1[-3],s1[-2],s1[-1]

('p', 'y', 't', 'h', 'o', 'n')

In [70]:
s1='python'
s1[-1],s1[-2],s1[-3],s1[-4],s1[-5],s1[-6]

('n', 'o', 'h', 't', 'y', 'p')

In [76]:
s1='python'
(s1[-1],s1[-2],s1[-3],s1[-4],s1[-5],s1[-6])

('n', 'o', 'h', 't', 'y', 'p')

**MUTABLE-IMMUTABLE**
- mutable can change
  - we can change using indexing
- immutable can not change
  - we can not change using index

In [4]:
s='Welcome'   # welcome 
# i want to replace 'l' with 'L'
# Posible 
# Not posible 
s[2]='L'

TypeError: 'str' object does not support item assignment

**Note**
-  strings are immutable it can not change

## strings are immutable

In [4]:
l=[1,2,3,4]    # 2=200
l[1]=200
l

[1, 200, 3, 4]

In [5]:
s='welcome'
s[2]
##########
l=[1,2,3,4]
l[1]=200
l

[1, 200, 3, 4]

In [15]:
#Q4) print each letter using for loop range 
s='welcome'
# range belong to which family
   # math family
# inside range bracket what we need to provide
   # number
# How many numbers we need to provide
  # number of letter :len(string)
# How to accesse the letter using number
  # by using index

for i in range(7):
    print(s[i])
# i=0   s[0]=w
# i=1   s[1]=e

w
e
l
c
o
m
e

- range belong to which family
   - math family
- inside range bracket what we need to provide
  - number
- How many numbers we need to provide
  - number of letter :len(string)
- How to accesse the letter using number
  - by using index

In [18]:
s='welcome to naresh it'
n=len(s)
for i in range (n):
    print(s[i])

w
e
l
c
o
m
e

t
o

n
a
r
e
s
h

i
t

- **for-in** dirctly access the letter 
- **for-range** will access using index

In [20]:
s='welcome to naresh it'
for i in s:
    print(i)

w
e
l
c
o
m
e

t
o

n
a
r
e
s
h

i
t

In [6]:
#Q5) wap ask the user iterate using a string
# string='welcome'
#print  the positive index of w is 0
#        the positive index of e is 1
#        the positive index of l is 1
s='welcome'
n=len(s)
for i in range(n):
    print(i,s[i])
    print(f"the positive index {s[i]} is {i}")

0 w
the positive index w is 0
1 e
the positive index e is 1
2 l
the positive index l is 2
3 c
the positive index c is 3
4 o
the positive index o is 4
5 m
the positive index m is 5
6 e
the positive index e is 6

In [30]:
#q6) wap ask the user iterate using a string
# string='welcome'
# print the negative index of w is-7
#       the negative index of e is-6
#       the negative index of l is-5
# the positive index is 0 and the negative 
s='welcome'
for i in range(len(s)):
    print(i,i-len(s))
    print(f"the negative index of {s[i]} is {i-len(s)}")
    #0-7====-7
    #1-2====-6
    # 2-7===-5
    # 3-7===-4

0 -7
the negative index of w is -7
1 -6
the negative index of e is -6
2 -5
the negative index of l is -5
3 -4
the negative index of c is -4
4 -3
the negative index of o is -3
5 -2
the negative index of m is -2
6 -1
the negative index of e is -1

In [31]:
#q7)
s='welcome'
for i in range(len(s)):
    print(f" the positive index is {i} the negative index of {i-len(s)} for {s[i]}")

 the positive index is 0 the negative index of -7 for w
 the positive index is 1 the negative index of -6 for e
 the positive index is 2 the negative index of -5 for l
 the positive index is 3 the negative index of -4 for c
 the positive index is 4 the negative index of -3 for o
 the positive index is 5 the negative index of -2 for m
 the positive index is 6 the negative index of -1 for e

In [9]:
#Q8) wap ask the user get the index of each 'a' in a given string 
# s='hai how are you  iam good'
str='hai how are you iam good'
for i in range (len(str)):
    if str[i]=='a':
        print(i)
        
str='hai how are you i am good'
for i in s:
    if i=='a':
        print(i)

1
8
17

In [12]:
#Q9) wap ask the user to to get of 'a' in agiven string 
# using for-range 

s="hai how are you i am good"
count=0
for i in range(len(s)):
      if s[i]=='a':
        count=count+1
print("the total count of ",count)

the total count of  3

In [17]:
#10Q)   wap ask the user to get the sum of all index numbers of 'a'
# 1+8+18=28
str='hai how are you iam good'
count=0
for i in range (len(str)):
    if str[i]=='a':
        summ=summ+i
summ

84

In [20]:
#Q11) wap ask the user get the vowels from a given string using for-range 
s='hai how are you iam good'
count=0
for i in range (len(s)):
    if s[i] in 'aeiou':
        print(s[i])
        count=count+1
        
print("yhe total count of values",count)

a
i
o
a
e
o
u
i
a
o
o
yhe total count of values 11

In [27]:
# Q12) wap ask the user get the vowels from a given string using for-range
s='hi how are you i am good'
s1=''
count=0
for i in range(len(s)):
    if s[i] not in s1:
       if s[i] in 'aeiou':
        print(s[i])
        s1=s1+s[i]
        count=count+1
print("the taotal number vowels ",count)

i
o
a
e
u
the taotal number vowels  5

In [ ]:
# q14) string1='ola ola ola'
# number of ola=3


#q15)  string1='hello hello hello haw how how how are you'
# what is the most repeated word: how 

# Q16) string1='helooooo length of word:hellooooo
# what is minimum length of word is: u

# with out using sorted then the sort the letters

In [6]:
#q15)  string1='hello hello hello haw how how how are you'
# what is the most repeated word: how 
s='hello hello hello haw how how how are you'
s='hi how are you i am good'
s1=''
count=0
for i in range(len(s)):

the taotal number vowels  0

**Slice**

- we can cut into pieces
- smiliar to range concept
- start,stop,step here also

In [2]:
str1='hai how are you'

In [ ]:
-15 -14 -13-12 -11 -10 -9-8 -7-6-5  -4  -3-2-1
h    a   i      h   o  w    a  r  e     y  o  u
1    2  3  4    5   6  7  8 9 10 11  12 13 14 15

In [ ]:
str1='hai how are you'
str1[start:stop:step]

$pattern-1$

**str1[start:]**
- by default start value=start only
- last value mnothing mentioned automatically will go till=last only
- step nothing mentioned means, it is a positive dirction and increment by 1

In [6]:
str1='hai how are you'
str1[5:]

'ow are you'

In [7]:
str1[10:]

'e you'

In [9]:
str1[-5:]

'e you'

In [10]:
str1[5:],str1[-10:]   # BOTH WILL

('ow are you', 'ow are you')

In [13]:
str1[14]

'u'

In [14]:
str1[-1]

'u'

$pattern-2$
str1[start:stop]
- start value mean by default start only
- step is not mentioned positive direction
- last=stop-1

In [16]:
#  -15  -14 -13   -12  -11 -10 -9  -8  -7-6-5   -4   -3-2-1
#   h   a   i           h   o  w       a  r  e       y  o  u
#  0   1   2       3    4  5   6   7   8  9 10  11   12 13 14 

str1='hai how are you'
str1[5:14]

'ow are yo'

In [17]:
str1[-5:14]

'e yo'

In [20]:
str1[5:-14]

''

In [21]:
str1[-5:14]

''

In [ ]:
sr1='hai how are  you'
str1=

**truncation behaviour**

- when ever string range is limited, but we provided unlimited number
- string will consider till the range we have
- in the above example our range only 15 letters
- we provieded 500, then 500 will truncate to till 15 letter only

In [ ]:
str1[5:500]      # answer
str1[-500:500]   # answer
str1[-1:500]  # anse
str1[500:]    # no ans
str1[-500,-100]  # no ans

$pattern-3$
**str1 avlue means start only**
**if step value positive**

In [25]:
#  -15  -14 -13   -12  -11 -10 -9  -8  -7-6-5   -4   -3-2-1
#   h   a   i           h   o  w       a  r  e       y  o  u
#  0   1   2       3    4  5   6   7   8  9 10  11   12 13 14 

str1='hai how are you'
str1[2:13:2] # p
str1[2:13:-2] # np
str1[2:-13:2]  # np
str1[-2:-13:2] #  np
str1[-2:-13:-2]   #p
str1[13:2:2]      #np
str1[-13:2:2]     #np(CHECK)
str1[-13:-2:2]    # p
str1[-13:-2:-2]   #np
str1[-13:2:-2]   # np(CHECK)

'ihwaey'

In [26]:
str1='hai how are you'
str1[2:13:2] # p

'ihwaey'

In [27]:
str1[2:13:-2] # np

''

In [28]:
str1[2:-13:2]  # np

''

In [29]:
str1[-2:-13:-2] #np

'o r o '

In [30]:
str1[-2:-13:2] #  np

''

In [31]:
str1[13:2:2]      #np

''

In [32]:
str1[-13:2:2]     #np(CHECK)

''

In [33]:
str1[-13:-2:2]    # p

'ihwaey'

In [34]:
str1[-13:-2:-2]   #np

''

In [35]:
str1[-13:2:-2]   # np(CHECK)

''

In [ ]:
str1[:]    # complete string 
str1[::]   # complete string
str[<start>::-1]  # reverse start value=-1
str[<start>:5:-2]

**Method**
- starting lists tuple dictionary every data type has its own method 
- we alrsady seen that package has different method
- for example random package :randint method
- math package : sqrt
- in the same way string also have method
- in order to see method for the package
    - we are importing the package
    - we are applying dir
- in the similar way in order to see the methods of string,we need to apply to dir only

In [36]:
dir('')   
# dir('hai')
# str1='apple'
#dir

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
- lower 
- upper
- captalization 
- title 
- casefold
- center

**upper**

In [4]:
str1='hai how are you'
str1.upper()

'HAI HOW ARE YOU'

**lower**

In [5]:
str1.lower()

'hai how are you'

**casefold**

In [6]:
str1.casefold()

'hai how are you'

**Title**

In [7]:
str1.title()

'Hai How Are You'

In [8]:
# str1='hai how are you'
# o/p ='Hai How Are You'
# with out using any method 
# one more level : iterate each letter apply captilization

**center**

In [9]:
str1.center(10)

'hai how are you'

In [10]:
str1.center(20)

'  hai how are you   '

- center has two aruguments
    - width
    - fill char
-  original string already :15 letters
-  we want to create a new string with 20 letter
-  remaining 5 letter by default empty
-  we can fill with charcters also

In [11]:
str1.center(26,'*')

'*****hai how are you******'

In [12]:
str1.center()

TypeError: center expected at least 1 argument, got 0

- upper 
- lower
- casefold
- Title 
- captalize
- center

**Count**

In [ ]:
str1='hai how are you'
# how many 'a' s there

In [14]:
count=0
for i in str1:
    if i=='a':
        count=count+1
count=0

In [ ]:
# h  a  i    h  a  i    h  a  i
# 0  1  2 3  4  5  6 7 8  9  10

In [17]:
str1.count('a')

2

In [19]:
str1='hai hai hai'
str1.count('a')
# we are serching number of 'a'fromindex

3

- we want number of a from a speacific index
- we want number of a between two index

In [20]:
# h  a  i    h  a  i    h  a  i
# 0  1  2 3  4  5  6 7 8  9  10   
str1.count('a') # all the 'a'
str1.count('a',5) # we are serching number of 'a'from index=3
str1.count('a',4,

In [ ]:
# reverse check

In [21]:
str1='ola ola ola'
str1.count('ola')

3

In [24]:
str1='ola ola ola'
for i in str1:
    if i=='a':
        print(i)

a
a
a

In [ ]:
str1[i:i+3]
i=0    str1[0:3]======> ola 
i=1    str1[1

**window method**

In [ ]:
step-1 count=0

In [29]:
count=0
str1='ola ola ola'
for i in (len(str1)):
    if str1[i:i+3]=='ola':
        count=count+1

print(count)

TypeError: 'int' object is not iterable

In [30]:
str1='ola ola ola'
str1.count('ola ola ola')

1

In [31]:
str1='ola ola ola'
str1.count(str1)

1

In [32]:
str1.count('z')

0

**Replace**

In [ ]:
str1='welcome'
# i want to replace 'l' with 'L'

In [34]:
# we know that string are immutable 
# we can not use index operations also
# slice and concatenation
# divide welcome :we  come
# s1='we'
# s2='come'
# s1+'L'+s2

str1='welcome'
s1=str1[0:2]
s2=str1[3:]
s1+'l'+s2

'welcome'

In [35]:
str1='welcome'
str1.replace('l','L')

'weLcome'

In [37]:
str1='wellcome'
str1.replace('l','L')

'weLLcome'

In [ ]:
- by default replace the all change the occurences
- count=-1 is reponsible

In [ ]:
str1='welcome'
str1.replace('l','L',l)  # old='l', new='L' count=1

# when we writte

In [39]:
str1='welllcome'
str1.replace('l','L',2)

'weLLlcome'

In [ ]:
# str1='restart'
#i/p='resta$t'

In [46]:
str1='restart'
s1=str1[:1]
s2=str1[1:]
s3=s2.replace('r','$')
s1+s3

'resta$t'

In [47]:
str1='restart'    # this case
str1[::-1].replace('r','$',1)[::-1]

'resta$t'

**index-find**

In [48]:
dir('str')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',

In [49]:
str1='HELLO'
str1.isupper()

True

In [50]:
str1='HELLO'
str1.islower()

False

**Index-find**

- index says that it will give the index of any letter in a given string 
- we already seen about count: count will give how many letters are there
    - at what index you want to count
    - between indexes also we can count the letters
- index meaning it will provide index
- imagine that there same letters repet
- how can we find the next index

In [2]:
# h a i     h a i   h a i 
# 0 1 2  3 4 5 6 7 8 9 10
str1='hai hai hai'
str1.index('a')
# return

1

In [3]:
str1='hai hai hai'
str1.index('a',3)

5

In [5]:
str1='hai hai hai'
str1.index('a',3,7)

5

In [ ]:
#i always a return a lowest index only
str1='hai hai hai'
str1.index('a')    # amoung the index the lowest index is '1'

str1='hai hai hai'
str1.index('a',3) # after 3rd index the lowest index of a is '5' 

str1='hai hai hai'
str1.index('a',3,7) #

In [6]:
str1='hai hai hai'
str1.index('a',-3,-1)  # amoung all the index

9

In [ ]:
# -11-10-9 -8 -7-6-5 -4 -3-2-1 
#  h a i        h a i   h a i 
# 0 1 2  3     4 5 6 7  8 9 10

In [ ]:
str1='hai hai hai'
str1.index('a',-9,-4)  # amoung all the index the lowest is '1'

In [ ]:
# -11-10-9 -8 -7-6-5 -4 -3-2-1 
#  h a i        h a i   h a i 
# 0 1 2  3     4 5 6 7  8 9 10

str1='hai hai hai'
print(str1.index('a'))

In [3]:
str1='hai hai hai hai'
i1=str1.index('a')
print(i1)
i2=str1.index('a',i1+1)
print(i2)
i3=str1.index('a',i2+1)
print(i3)
i4=str1.index('a',i3+1)
print(i4)

1
5
9
13

In [7]:
# -11-10-9 -8 -7-6-5 -4 -3-2-1 
#  h a i        h a i   h a i     h  a  i
# 0 1 2  3     4 5 6 7  8 9 10 11 12 13 14
str1='hai hai hai hai'
i1=str1.index('a')
print(i1)
i2=str1.index('a',2)
print(i2)
i3=str1.index('a',6)
print(i3)
i4=str1.index('a',10)
print(i4)

1
5
9
13

**Find**

In [19]:
str1='hai hai hai hai hai'
i1=str1.find('h')
print(i1)
i2=str1.find('a',i1+1)
print(i2)
i3=str1.find('a',i2+1)
print(i3)
i4=str1.find('a',i3+1)
print(i4)

0
1
5
9

In [ ]:
str1.index()  # raises value error when the substrtuting

In [20]:
str1='hai hai hai'
str1.count("z")

0

In [21]:
str1='hai hai hai'
str1.replace('z','Z')

'hai hai hai'

- if substring not found 
- count method will give zero
- replace method will give original string
- index will give **sub string found error**
- find will give-1

In [ ]:
str1='omkar.nallagoni@cognizant.com'
# first name=omkar
# secod company name = nallagoni 
# company name=cognizant
str2='virat.kohli@rcb'
str3='rohitn.sharama@mi.com
str4='a.b@c.com'


# idea : find the triggers
# for first name:
#second name:

In [25]:
str1='omkar.nallagoni@cognizant.com'
f1=str1.find('')
print('first name',str1[f1])

first name o

In [29]:
str1='omkar.nallagoni.@cognizent.com'
i1=str1.index('.')
i2=str1.index('@')
i3=str1.index('.',i1+1)
first_name=str1[:i1]
second_name=str1[i1+1:i2]
cname=str1[i2+1:i3]
first_name,second_name,cname

('omkar', 'nallagoni.', '')

- split
- string/strip/rstrip
- statrtswith/end